* {
  margin: 0px;
  padding: 0px;
}

/* HEADER */

.header {
  width: 100%;
  height: 75px;
  background-color: red;
  position: fixed; 
  top: 0;
  z-index: 100;
}
.header__ul--left {
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content:flex-start;
  align-items: center;
}
.f1__header--logo {
  margin-left: 20px;
  height: 75px;
  margin-right: 20px;
}
.header__ul--li {
  list-style-type: none;
}
.header__ul--li a {
  font-family:  'Titillium Web', sans-serif;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 20px;
  color: azure;
  text-decoration: none;
}
.header__ul--li a:hover {
  text-decoration: underline;
  color:gold;
}

/* SECTION1 */

.section1  {
  width: 100%;
  height: 120vh;
  margin-top: 75px;
  padding-top: 100px;

  background-image: url(./images/mercedes1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.section1__div1 {
  border: 5px solid rgb(0, 255, 213); 
  width: 500px;
  margin: 0 auto;
  border-radius: 25px;
}
.section1_p {
  padding: 5px; 
  color: yellow; 
  font-family: 'Titillium Web', sans-serif; 
  font-size: 35px;
}
.section1__div2--ul {
  color: rgb(255, 0, 212);
  font-size: 35px;
  font-family: 'Titillium Web', sans-serif;
  margin-left: 50px;
  margin-top: 1px;
}

/* SECTION2 */

.section2 {
    width: 100%;
    height: 120vh;
    padding-top: 100px;
   
    background-image: url(./images/f1_pist.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.section2 div {
  text-align: center;
}
.section2__img1 {
  width: 600px;
  height: 350px;
}
.section2__img2 {
  width: 500px;
  height: 350px;
}